$react_blue: #61DAFB;
$react_light_blue: #BBEFFD;
$react_black: #20232A;
$react_off_black: #282C34;
$react_dark_gray: #32363E;
$react_off_white: #F7F7F7;

$container-background: $react_off_black;
$app-background: $react_off_black;
$header-background: $react_black;